@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@400;500;600&family=Roboto&display=swap');

:root {
    --branco: #DADADA;
    --cinza-escuro: #161926;
    --cinza-medio: #252735;
    --cinza-claro: #6C6C6E;
    --azul-escuro: #3E82FC;
    --azul-claro: #6FBBF9;
    --preto: #000000;
    --laranja: #F89833;
    --rosa: #EA3764;
    --verde: #35C482;
    --amarelo: #F8C600;
}

img {
    height: 8vh;
}

body {
    color: var(--cinza-escuro);
    font-family: 'Public Sans', sans-serif;
}

#title {
    background-color: var(--cinza-escuro);
    color: var(--branco);  
    font-family: 'Nippo', sans-serif;
}

main {
    background-color: var(--cinza-escuro);
    height: 100%; 
    min-height: 100vh;
}

#conteudo {
    background-color: var(--cinza-medio);
    /* box-shadow: 0 2px 10px 1px var(); */
    max-width: 500px;
    border: 2px solid var(--preto);
}


#inputs-topo, #inputs-exercicio, #btn-adicionar-exercicio, o#infos-trein {
    margin: auto;
    color: var(--cinza-claro);
}

#inputs-exercicio {
    background-color: var(--cinza-escuro);
    border: 1px solid var(--branco);
}

#exercicios {
    color: var(--branco);
    border: 1px solid var(--cinza-claro)
}

#infos-treino, #infos-exercicios {
    background-color: var(--cinza-escuro);
    color: var(--cinza-claro);
}

.info-value {
    color: var(--branco);
}

.card-body-treino {
    background-color: var(--cinza-escuro);
}

.card-body-exercicio{
    background-color: var(--cinza-medio);
    color: var(--branco);
    margin-bottom: 10px;
}

.card-body-exercicio:last-child {
    margin-bottom: 0px;
}

.botao-add-exercicio, .botao-add-treino, .botao-treino {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.botao-treino {
    background-color: var(--azul-escuro);
}

.botao-add-exercicio {
    background-color: var(--azul-claro);
    color: var(--cinza-escuro);
}

.botao-add-treino {
    background-color: var(--azul-escuro);
    color: var(--branco);
}

ul {
    margin: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid var(--cinza-medio);
}

li:last-child {
    border-bottom: 0px solid #000000;
}


.id-exercicio {
    color: var(--branco);
}

.check-icon {
    color: var(--laranja);
    scale: 120%;
}

.plus-icon {
    color: var(--rosa);
    scale: 120%;
}

.delete-icon {
    color: var(--amarelo);
    scale: 120%;
}

.dumbbell-icon {
    color: var(--rosa);
}

.xmark-icon {
    color: var(--verde);
}

.stopwatch-icon {
    color: var(--laranja);
}

.hand-icon {
    color: var(--azul-claro);
}

.triangle-exclamation-icon {
    color: var(--amarelo);
}

.small {
    font-size: .9em;
}

#footer {
    background-color: #000000;
    color: var(--branco);
    max-width: 500px;
    width: 100%;
    
    
}

.tech-icon {
    scale: 120%
}

.network-icon {
    scale: 150%
}

#linkedin {
    color: #2E66C2;
}

#github {
    color: var(--branco);
}

#html {
    color: var(--rosa);
}

#css {
    color: var(--azul-escuro);
}

#js {
    color: var(--amarelo);
}

#bootstrap {
    color: #702DF5;
}

#fontawesome {
    color: var(--azul-claro);
}