@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@400;500;600&family=Lobster&display=swap');

:root {
    --roxo-escuro: #6F2DF4;
    --roxo-claro: #D486FF;
    --verde-claro: #00B88F;
    --verde-escuro: #007E5D;
    --branco: #FDF7FF;
    --preto: #1F1926;
    --cinza-escuro: #4B4453;
    --cinza-claro: #B0A8B9;
    --azul-escuro: #000099;
}

img {
    height: 8vh;
}

body {
    color: var(--cinza-escuro);
}

header {
    background-color: var(--roxo-escuro);
    color: var(--branco);
    
}

header div {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-family: 'Lobster', cursive;
}

main {
    background-color: var(--cinza-escuro);
    height: 100%;
    min-height: 100vh;
}

#conteudo {
    background-color: var(--branco);
    /* box-shadow: 0 2px 10px 1px var(); */
    max-width: 500px;
}


#inputs-exercicio, #btn-adicionar-exercicio, #infos-treino {
    margin: auto;
}

#inputs-exercicio {
    background-color: var(--roxo-claro);
    /* box-shadow: 0 1px 8px 1px var(--cinza-medio); */
}

#exercicios {
    background-color: var(--cinza-claro);
    color: var(--preto);
}

#infos-exercicios {
    background-color: var(--verde-claro);
    color: var(--preto);
}

.card-body-exercicio{
    background-color: #954EFF;
    color: var(--branco);
}

.botao-acoes {
    background-color: var(--roxo-escuro);
    color: var(--branco);
}

.botao-treino {
    background-color: var(--azul-escuro);
}

ul {
    margin: 0
}
