@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@400;500;600&family=Josefin+Sans&display=swap');

:root {
    --branco: #DADADA;
    --cinza-escuro: #161926;
    --cinza-medio: #252735;
    --cinza-claro: #6C6C6E;
    --azul-escuro: #3E82FC;
    --azul-claro: #6FBBF9;
    --preto: #000000;
    --laranja: #F89833;
    --rosa: #EA3764;
}

img {
    height: 8vh;
}

body {
    color: var(--cinza-escuro);
}

header {
    background-color: var(--cinza-escuro);
    color: var(--branco);
    
}

header div {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

main {
    background-color: var(--cinza-escuro);
    height: 100%;
    min-height: 100vh;
}

#conteudo {
    background-color: var(--cinza-medio);
    /* box-shadow: 0 2px 10px 1px var(); */
    max-width: 500px;
    border: 1px solid var(--preto);
}


#inputs-exercicio, #btn-adicionar-exercicio, #infos-treino {
    margin: auto;
}

#inputs-exercicio {
    background-color: var(--cinza-escuro);
    border: 1px solid var(--branco);
    /* box-shadow: 0 1px 8px 1px var(--cinza-medio); */
}

#exercicios {
    background-color: var(--cinza-medio);
    color: var(--preto);
}

#infos-exercicios {
    background-color: var(--azul-claro);
    color: var(--preto);
}

.card-body-treino {
    background-color: var(--cinza-escuro);
}

.card-body-exercicio{
    background-color: var(--cinza-medio);
    color: var(--branco);
}

.botao-treino {
    background-color: var(--azul-escuro);
}

.botao-add-exercicio {
    background-color: var(--azul-claro);
    color: var(--cinza-escuro);
}

.botao-add-treino {
    background-color: var(--azul-escuro);
    color: var(--branco);
}

ul {
    margin: 0
}

.dumbbell-icon, .id-exercicio {
    color: var(--laranja);
    
}

.plus-icon {
    color: var(--rosa);
}