img {
    height: 10vh;
}

.treinos, form, .botao, #infos-treino {
    max-width: 500px;
}

main {
    background-color: #1E293B;
    height: 100%;
    min-height: 100vh;
}

.hidden {
    visibility: hidden;
}

